@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --bg-color: #161620;
    --text-color: #FFFFFF;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --red-color: rgb(167, 16, 16);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

@media screen and (min-width:768px) {

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

#menu {
    display: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: #161620;
    position: fixed;
}

.logo-header{
    display: flex;
    align-items: center;

}

.logo-header p {
    color: var(--text-color);
    font-weight: bold;
    font-size: 15px;
}

#logo-desktop {
    color: var(--main-color);
    display: flex;
    width: 20px;
    margin: 10px;
}

.navegacao {
    display: flex;
}

.navegacao a {
    padding: 0px 20px;
    color: var(--other-color);
    font-size: 17px;
    transition: all .55s ease;
}

.navegacao a:hover{
    color: var(--main-color);
}

/*main*/

#overview {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.computador {
    max-width: auto;
    max-height: auto;
    width: 500px;
    margin-top: 150px;
    margin-left: 30px;
}

.text-overview {
    margin-top: 250px;
    flex-direction: column;
    text-align: center; 
    margin-right: 30px;
}

.text-overview h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: var(--red-color);
}

.text-overview p{
    margin-bottom: 20px;
    color: var(--other-color);
}

.text-overview a{
    border-style: solid;
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 5px 20%;
    color: var(--other-color);
    font-weight: bolder;
    background-color: var(--main-color);
    transition: all .55s ease-in;
}

.text-overview h2{
    color: var(--other-color);
    margin: 40px;
}

.text-overview a:hover{
    color: var(--red-color);
}

.parts {
    display: flex;
    justify-content: space-around;
}

.hardware {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--other-color);
    background-color: rgb(14, 15, 34);
    margin: 40px 20px;
}

#setup {
    margin-left: 40px;
}

h1 {
    color:rgb(167, 16, 16);
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

#setup h3 {
    font-size: 25px;
    border-left: #34e7f8;
    border-left-style:groove;
    padding-left: 10px;

}

#setup p {
    font-size: 20px;
    margin-left: 10px;
}

#aboutus {
    text-align: center;
    margin: 40px 20px;
    font-size: 20px;
}

.contact h2{
    margin-top: 40px;
    text-align: center;
}

.contact a {
    color: #34e7f8;
    transition: all .55s ease;
}

.contact a:hover {
    color: var(--red-color);
}

.mapa {
    margin-top: 100px;
    text-align: center;
    color:#fcfcfc;
}

.mapa-conteudo {
    margin-top: 50px;
}

.form {
    margin: 100px 20px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px 10px;
}

.send {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #fcfcfc;
    border-radius: 5px;
    transition: all .55s ease;
}

.send:hover {
    background-color:#1a1a35;
    color: #fcfcfc;
}

.cart {
    margin-top: 100px;
    display: flex;
}

}